NET "M" LOC = P78;
NET "CIN" LOC = P82;
NET "S1" LOC = P37;
NET "S0" LOC = P32;

NET "A[0]" LOC = P94;
NET "A[1]" LOC = P90;
NET "A[2]" LOC = P88;
NET "A[3]" LOC = P85;

NET "B[3]" LOC = P4;
NET "B[2]" LOC = P5;
NET "B[1]" LOC = P12;
NET "B[0]" LOC = P15;

NET "SEVSEG_CONTROL[0]" LOC = P60;
NET "SEVSEG_CONTROL[1]" LOC = P61;
NET "SEVSEG_CONTROL[2]" LOC = P59;
NET "SEVSEG_CONTROL[3]" LOC = P57;
NET "SEVSEG_CONTROL[4]" LOC = P52;
NET "SEVSEG_CONTROL[5]" LOC = P56;
NET "SEVSEG_CONTROL[6]" LOC = P50;
NET "SEVSEG_CONTROL[7]" LOC = P49;

NET "SEVSEG_DATA[6]" LOC = P71;
NET "SEVSEG_DATA[5]" LOC = P62;
NET "SEVSEG_DATA[4]" LOC = P65;
NET "SEVSEG_DATA[3]" LOC = P72;
NET "SEVSEG_DATA[2]" LOC = P73;
NET "SEVSEG_DATA[1]" LOC = P98;
NET "SEVSEG_DATA[0]" LOC = P64;

NET "NEG_LED"	LOC = P86;

NET "LED_OUTPUT[3]" LOC = P3;
NET "LED_OUTPUT[2]" LOC = P6;
NET "LED_OUTPUT[1]" LOC = P13;
NET "LED_OUTPUT[0]" LOC = P16;

NET "V" LOC = P83;